body {
	background: #C8FF96 !important;	
}

.tax {
	width: 600px;
	height: 400px;
	padding: 20px 35px 50px;
	margin: auto;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,0.1);  
	flex-direction: column;
	position:absolute;
	left:0;
	right:0;
	top:10%;
	bottom:25%;
}

h3 {
	margin-top : 30px;
	margin-bottom : 30px;
}

.table {
	margin-bottom: 30px;
	margin-top: 30px;
}

.table tr th {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 30px;
}

.compute {
	float: right;
	background-color: #1E64C0;
	color: white;
	font-size: 16px;
	padding: 5px;
}

.reset {
	background-color: #1E64C0;
	color: white;
	font-size: 16px;
	padding: 5px;
}

.button {
	width: 50%;
	margin-left: auto;
  	margin-right: auto;
}



